.btn {
    color: $white-alien;
    font-size: 14px;
    cursor: pointer;
    &.signup {
        padding: 0 35px;
        display: inline-block;
        height: 42px;
        line-height: 42px;
        background: $main-alien;
        border-radius: 20%;
        border-top-left-radius: 42px;
        border-bottom-left-radius: 42px;
        border-top-right-radius: 42px;
        border-bottom-right-radius: 42px;
    }
}