// colors

$main-alien:        #fd4500;
$dark-alien:        #464855;
$medium-alien:      #808080;
$light-alien:       #898ea2;
$super-light-alien: #f4f5fa;
$hyper-light-alien: #fbfcfe;
$light-alien-blue:  #8a91ff;
$dark-alien-blue:   #666ee8;
$white-alien:       #ffffff;
$bg-color:          #f8f8f8;